In [184]:
import pandas as pd
import numpy as np
import json
with open('trips.json', 'r') as f:
    data = json.loads(f.read())

# Normalize data
df = pd.json_normalize(data, record_path =['features'])

# Set index
#df = df.set_index('properties.tripid')

df.head(3)

,type,geometry.coordinates,geometry.type,properties.avspeed,properties.distance,properties.duration,properties.endtime,properties.maxspeed,properties.minspeed,properties.starttime,properties.streetnames,properties.taxiid,properties.tripid
0,Feature,"[[-8.6063, 41.1446]]",LineString,16.096640,0.000000,0,2013-10-01 00:00:43,16.096640,16.096640,2013-10-01 00:00:43,[Praca da Batalha],20000305,417118
1,Feature,"[[-8.59347, 41.1508]]",LineString,20.463175,0.000000,0,2013-10-01 00:18:29,20.463175,20.463175,2013-10-01 00:18:29,[Rua do Bonfim],20000463,417135
2,Feature,"[[-8.67233, 41.149], [-8.67232, 41.149], [-8.6...",LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,"[Rua do Passeio Alegre, Rua do Passeio Alegre,...",20000105,417142

In [185]:
print(df)

         type                               geometry.coordinates  \
0     Feature                               [[-8.6063, 41.1446]]
1     Feature                              [[-8.59347, 41.1508]]
2     Feature  [[-8.67233, 41.149], [-8.67232, 41.149], [-8.6...
3     Feature  [[-8.67237, 41.149], [-8.67239, 41.149], [-8.6...
4     Feature  [[-8.67989, 41.1566], [-8.6799, 41.1566], [-8....
...       ...                                                ...
2495  Feature  [[-8.66069, 41.1986], [-8.65742, 41.2009], [-8...
2496  Feature  [[-8.6106, 41.1412], [-8.60914, 41.1409], [-8....
2497  Feature  [[-8.65474, 41.1736], [-8.65477, 41.1735], [-8...
2498  Feature  [[-8.60007, 41.1827], [-8.60027, 41.1827], [-8...
2499  Feature  [[-8.62104, 41.161], [-8.62106, 41.1607], [-8....

     geometry.type  properties.avspeed  properties.distance  \
0       LineString           16.096640             0.000000
1       LineString           20.463175             0.000000
2       LineString           37.208155          6201.451072
3       LineString           32.824985          5893.478819
4       LineString           32.336558          5666.998333
...            ...                 ...                  ...
2495    LineString           48.404243          6103.951187
2496    LineString           33.714486          6400.614120
2497    LineString           24.596086          7279.182562
2498    LineString           30.712999          5187.207658
2499    LineString           25.063411          7522.258758

      properties.duration   properties.endtime  properties.maxspeed  \
0                       0  2013-10-01 00:00:43            16.096640
1                       0  2013-10-01 00:18:29            20.463175
2                     585  2013-10-01 00:21:11            70.406355
3                     630  2013-10-01 00:22:08            77.164897
4                     615  2013-10-01 00:17:42            67.193220
...                   ...                  ...                  ...
2495                  450  2013-10-01 12:52:38           121.186301
2496                  675  2013-10-01 13:13:11            64.278800
2497                 1050  2013-10-01 12:44:18            89.065215
2498                  600  2013-10-01 13:14:10            81.213647
2499                 1065  2013-10-01 09:31:40            63.098308

      properties.minspeed properties.starttime  \
0               16.096640  2013-10-01 00:00:43
1               20.463175  2013-10-01 00:18:29
2                0.200952  2013-10-01 00:11:26
3                0.000000  2013-10-01 00:11:38
4                0.200914  2013-10-01 00:07:27
...                   ...                  ...
2495             0.000000  2013-10-01 12:45:08
2496             0.000000  2013-10-01 13:01:56
2497             0.000000  2013-10-01 12:26:48
2498             0.000000  2013-10-01 13:04:10
2499             0.000000  2013-10-01 09:13:55

                                 properties.streetnames properties.taxiid  \
0                                    [Praca da Batalha]          20000305
1                                       [Rua do Bonfim]          20000463
2     [Rua do Passeio Alegre, Rua do Passeio Alegre,...          20000105
3     [Rua de Passos Manuel, Rua do Doutor Magalhaes...          20000488
4     [Avenida da Boavista, Avenida da Boavista, Ave...          20000022
...                                                 ...               ...
2495  [E82, E82, E82, Rua do Pinhal, VRI, VRI, E82, ...          20000349
2496  [Avenida de Paiva Couceiro, Mercado Abastecedo...          20000267
2497  [Via de Cintura Interna, Rua de Sao Joao Novo,...          20000206
2498  [Avenida Doutor Domingos Goncalves de Sa, Aven...          20000682
2499  [Via Engenheiro Edgar Cardoso, Praca de Mouzin...          20000482

      properties.tripid
0                417118
1                417135
2                417142
3                417145
4                417155
...                 ...
2495             419991
2496             419992
2497             419993
2498             419995
2499             419996

[2500 rows x 13 columns]

#### Some calculation on raw data

In [186]:
# check for duplicate trip id
duplicate_trip = df[df.duplicated('properties.tripid')]
print("Duplicate Rows based on Trip ID :", duplicate_trip)

Duplicate Rows based on Trip ID : Empty DataFrame
Columns: [type, geometry.coordinates, geometry.type, properties.avspeed, properties.distance, properties.duration, properties.endtime, properties.maxspeed, properties.minspeed, properties.starttime, properties.streetnames, properties.taxiid, properties.tripid]
Index: []

In [187]:
# check  for duplicate Taxiid
duplicate_taxi = df[df.duplicated('properties.taxiid')]
print("Duplicate Rows based on Taxi :", duplicate_taxi)

Duplicate Rows based on Taxi :          type                               geometry.coordinates  \
5     Feature  [[-8.61094, 41.1457], [-8.61088, 41.1459], [-8...
16    Feature  [[-8.6132, 41.1544], [-8.61326, 41.1543], [-8....
22    Feature  [[-8.6098, 41.1564], [-8.60989, 41.1553], [-8....
33    Feature  [[-8.58926, 41.1697], [-8.58941, 41.1697], [-8...
35    Feature  [[-8.60989, 41.1519], [-8.61026, 41.1517], [-8...
...       ...                                                ...
2495  Feature  [[-8.66069, 41.1986], [-8.65742, 41.2009], [-8...
2496  Feature  [[-8.6106, 41.1412], [-8.60914, 41.1409], [-8....
2497  Feature  [[-8.65474, 41.1736], [-8.65477, 41.1735], [-8...
2498  Feature  [[-8.60007, 41.1827], [-8.60027, 41.1827], [-8...
2499  Feature  [[-8.62104, 41.161], [-8.62106, 41.1607], [-8....

     geometry.type  properties.avspeed  properties.distance  \
5       LineString           28.400255          5204.851286
16      LineString           14.316962          1668.988770
22      LineString           40.645612          1769.184915
33      LineString           26.162436          1519.693639
35      LineString           22.247275          1786.070360
...            ...                 ...                  ...
2495    LineString           48.404243          6103.951187
2496    LineString           33.714486          6400.614120
2497    LineString           24.596086          7279.182562
2498    LineString           30.712999          5187.207658
2499    LineString           25.063411          7522.258758

      properties.duration   properties.endtime  properties.maxspeed  \
5                     645  2013-10-01 00:18:54            64.741055
16                    405  2013-10-01 00:56:11            48.130846
22                    150  2013-10-01 01:08:56           158.352483
33                    195  2013-10-01 01:23:52            42.227227
35                    285  2013-10-01 00:42:27            57.625920
...                   ...                  ...                  ...
2495                  450  2013-10-01 12:52:38           121.186301
2496                  675  2013-10-01 13:13:11            64.278800
2497                 1050  2013-10-01 12:44:18            89.065215
2498                  600  2013-10-01 13:14:10            81.213647
2499                 1065  2013-10-01 09:31:40            63.098308

      properties.minspeed properties.starttime  \
5                0.603158  2013-10-01 00:08:09
16               0.200911  2013-10-01 00:49:26
22               5.512011  2013-10-01 01:06:26
33               2.009117  2013-10-01 01:20:37
35               1.607497  2013-10-01 00:37:42
...                   ...                  ...
2495             0.000000  2013-10-01 12:45:08
2496             0.000000  2013-10-01 13:01:56
2497             0.000000  2013-10-01 12:26:48
2498             0.000000  2013-10-01 13:04:10
2499             0.000000  2013-10-01 09:13:55

                                 properties.streetnames properties.taxiid  \
5     [Rua Formosa, Praca de Almeida Garrett, Rua de...          20000305
16    [Rua de Faria Guimaraes, Rua de Faria Guimarae...          20000367
22    [Rua Doutor Alberto Aires de Gouveia, Rua de E...          20000231
33    [Rua de Costa Cabral, Rua de Costa Cabral, Rua...          20000561
35    [Rua de Camoes, Rua dos Herois e dos Martires ...          20000649
...                                                 ...               ...
2495  [E82, E82, E82, Rua do Pinhal, VRI, VRI, E82, ...          20000349
2496  [Avenida de Paiva Couceiro, Mercado Abastecedo...          20000267
2497  [Via de Cintura Interna, Rua de Sao Joao Novo,...          20000206
2498  [Avenida Doutor Domingos Goncalves de Sa, Aven...          20000682
2499  [Via Engenheiro Edgar Cardoso, Praca de Mouzin...          20000482

      properties.tripid
5                417156
16               417201
22               417210
33               417228
35               417230
...                 ...
2495             419991
2496             419992
2497             419993
2498             419995
2499             419996

[2118 rows x 13 columns]

In [188]:
# Count distinct values from taxi id column
print(df['properties.taxiid'].nunique())

# Count only non-null values
print(df['properties.taxiid'].count())

# Count total values including null values from taxi id column
print(df['properties.taxiid'].size)

# Count distinct values from trip id column
print(df['properties.tripid'].nunique())

382
2500
2500
2500

In [189]:
# Count empty values of df
df.isnull().sum()

type                      0
geometry.coordinates      0
geometry.type             0
properties.avspeed        0
properties.distance       0
properties.duration       0
properties.endtime        0
properties.maxspeed       0
properties.minspeed       0
properties.starttime      0
properties.streetnames    0
properties.taxiid         0
properties.tripid         0
dtype: int64

#### Explore Raw data

In [190]:
# Explore for coordinates
gcod_df = df.explode('geometry.coordinates')
# Remove column name 'properties.streetnames'
gcod_df = gcod_df.drop(['properties.streetnames'], axis=1)
gcod_df.head(5)

,type,geometry.coordinates,geometry.type,properties.avspeed,properties.distance,properties.duration,properties.endtime,properties.maxspeed,properties.minspeed,properties.starttime,properties.taxiid,properties.tripid
0,Feature,"[-8.6063, 41.1446]",LineString,16.096640,0.000000,0,2013-10-01 00:00:43,16.096640,16.096640,2013-10-01 00:00:43,20000305,417118
1,Feature,"[-8.59347, 41.1508]",LineString,20.463175,0.000000,0,2013-10-01 00:18:29,20.463175,20.463175,2013-10-01 00:18:29,20000463,417135
2,Feature,"[-8.67233, 41.149]",LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,20000105,417142
2,Feature,"[-8.67232, 41.149]",LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,20000105,417142
2,Feature,"[-8.67083, 41.1488]",LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,20000105,417142

In [191]:
gcod_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128831 entries, 0 to 2499
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   type                  128831 non-null  object
 1   geometry.coordinates  128831 non-null  object
 2   geometry.type         128831 non-null  object
 3   properties.avspeed    128831 non-null  float64
 4   properties.distance   128831 non-null  float64
 5   properties.duration   128831 non-null  int64
 6   properties.endtime    128831 non-null  object
 7   properties.maxspeed   128831 non-null  float64
 8   properties.minspeed   128831 non-null  float64
 9   properties.starttime  128831 non-null  object
 10  properties.taxiid     128831 non-null  object
 11  properties.tripid     128831 non-null  int64
dtypes: float64(4), int64(2), object(6)
memory usage: 12.8+ MB

In [192]:
gcod_splt_df = pd.DataFrame(gcod_df["geometry.coordinates"].to_list(), columns=['lon', 'lat'])
gcod_splt_df.head(5)

       lon      lat
0 -8.60630  41.1446
1 -8.59347  41.1508
2 -8.67233  41.1490
3 -8.67232  41.1490
4 -8.67083  41.1488

In [193]:
gcod_splt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128831 entries, 0 to 128830
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lon     128831 non-null  float64
 1   lat     128831 non-null  float64
dtypes: float64(2)
memory usage: 2.0 MB

In [194]:
gcod_splt_df.shape[0]

128831

In [195]:
gcod_df.shape[0]

128831

In [196]:
# Explore for Street names
gcod_street_df = df.explode('properties.streetnames')
# Remove column name 'geometry.coordinates'
gcod_street_df = gcod_street_df.drop(['geometry.coordinates'], axis=1)
gcod_street_df.head(5)

,type,geometry.type,properties.avspeed,properties.distance,properties.duration,properties.endtime,properties.maxspeed,properties.minspeed,properties.starttime,properties.streetnames,properties.taxiid,properties.tripid
0,Feature,LineString,16.096640,0.000000,0,2013-10-01 00:00:43,16.096640,16.096640,2013-10-01 00:00:43,Praca da Batalha,20000305,417118
1,Feature,LineString,20.463175,0.000000,0,2013-10-01 00:18:29,20.463175,20.463175,2013-10-01 00:18:29,Rua do Bonfim,20000463,417135
2,Feature,LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,Rua do Passeio Alegre,20000105,417142
2,Feature,LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,Rua do Passeio Alegre,20000105,417142
2,Feature,LineString,37.208155,6201.451072,585,2013-10-01 00:21:11,70.406355,0.200952,2013-10-01 00:11:26,Rua do Passeio Alegre,20000105,417142

In [197]:
gcod_street_df.shape[0]

128831

In [198]:
# Crosee check all the data usinf shape
print('Rows count for gcode df:', gcod_df.shape[0])
print('Rows count of gcode for lat/lon:', gcod_splt_df.shape[0])
print('Rows count of gcode for streets:', gcod_street_df.shape[0])

Rows count for gcode df: 128831
Rows count of gcode for lat/lon: 128831
Rows count of gcode for streets: 128831

### So there is no records meessing considering rows counts of each and every Dataframe created *****

In [199]:
geocode_lat_lon = gcod_splt_df.filter(['lon','lat'], axis=1)
print(geocode_lat_lon)

            lon      lat
0      -8.60630  41.1446
1      -8.59347  41.1508
2      -8.67233  41.1490
3      -8.67232  41.1490
4      -8.67083  41.1488
...         ...      ...
128826 -8.62488  41.1253
128827 -8.62477  41.1261
128828 -8.62465  41.1263
128829 -8.62465  41.1263
128830 -8.62465  41.1263

[128831 rows x 2 columns]

In [200]:
geo_street_trip_map_df = gcod_street_df.filter(['properties.tripid','properties.streetnames'], axis=1)
print(geo_street_trip_map_df)

      properties.tripid          properties.streetnames
0                417118                Praca da Batalha
1                417135                   Rua do Bonfim
2                417142           Rua do Passeio Alegre
2                417142           Rua do Passeio Alegre
2                417142           Rua do Passeio Alegre
...                 ...                             ...
2499             419996              Rua de Serpa Pinto
2499             419996  Rua de Nossa Senhora de Fatima
2499             419996  Rua de Nossa Senhora de Fatima
2499             419996                 Rua dos Burgaes
2499             419996            Largo da Ramada Alta

[128831 rows x 2 columns]

In [201]:
streets_list = gcod_street_df.filter(['properties.streetnames'], axis=1)
print(streets_list)

              properties.streetnames
0                   Praca da Batalha
1                      Rua do Bonfim
2              Rua do Passeio Alegre
2              Rua do Passeio Alegre
2              Rua do Passeio Alegre
...                              ...
2499              Rua de Serpa Pinto
2499  Rua de Nossa Senhora de Fatima
2499  Rua de Nossa Senhora de Fatima
2499                 Rua dos Burgaes
2499            Largo da Ramada Alta

[128831 rows x 1 columns]

In [202]:
# This is for temporary data frame for street_name and coordinates
temp_street_coord = df.filter(['properties.streetnames', 'geometry.coordinates'], axis=1)
print(temp_street_coord)

                                 properties.streetnames  \
0                                    [Praca da Batalha]
1                                       [Rua do Bonfim]
2     [Rua do Passeio Alegre, Rua do Passeio Alegre,...
3     [Rua de Passos Manuel, Rua do Doutor Magalhaes...
4     [Avenida da Boavista, Avenida da Boavista, Ave...
...                                                 ...
2495  [E82, E82, E82, Rua do Pinhal, VRI, VRI, E82, ...
2496  [Avenida de Paiva Couceiro, Mercado Abastecedo...
2497  [Via de Cintura Interna, Rua de Sao Joao Novo,...
2498  [Avenida Doutor Domingos Goncalves de Sa, Aven...
2499  [Via Engenheiro Edgar Cardoso, Praca de Mouzin...

                                   geometry.coordinates
0                                  [[-8.6063, 41.1446]]
1                                 [[-8.59347, 41.1508]]
2     [[-8.67233, 41.149], [-8.67232, 41.149], [-8.6...
3     [[-8.67237, 41.149], [-8.67239, 41.149], [-8.6...
4     [[-8.67989, 41.1566], [-8.6799, 41.1566], [-8....
...                                                 ...
2495  [[-8.66069, 41.1986], [-8.65742, 41.2009], [-8...
2496  [[-8.6106, 41.1412], [-8.60914, 41.1409], [-8....
2497  [[-8.65474, 41.1736], [-8.65477, 41.1735], [-8...
2498  [[-8.60007, 41.1827], [-8.60027, 41.1827], [-8...
2499  [[-8.62104, 41.161], [-8.62106, 41.1607], [-8....

[2500 rows x 2 columns]

In [203]:
# Now explore temporary dataframe for street name
temp_street_exp = temp_street_coord.explode('properties.streetnames')
temp_street_exp = temp_street_exp.drop(['geometry.coordinates'], axis=1)
print(temp_street_exp)

              properties.streetnames
0                   Praca da Batalha
1                      Rua do Bonfim
2              Rua do Passeio Alegre
2              Rua do Passeio Alegre
2              Rua do Passeio Alegre
...                              ...
2499              Rua de Serpa Pinto
2499  Rua de Nossa Senhora de Fatima
2499  Rua de Nossa Senhora de Fatima
2499                 Rua dos Burgaes
2499            Largo da Ramada Alta

[128831 rows x 1 columns]

In [204]:
print(gcod_splt_df)

            lon      lat
0      -8.60630  41.1446
1      -8.59347  41.1508
2      -8.67233  41.1490
3      -8.67232  41.1490
4      -8.67083  41.1488
...         ...      ...
128826 -8.62488  41.1253
128827 -8.62477  41.1261
128828 -8.62465  41.1263
128829 -8.62465  41.1263
128830 -8.62465  41.1263

[128831 rows x 2 columns]

In [228]:
trips_street_merge_df = pd.concat([geo_street_trip_map_df, temp_street_exp, gcod_splt_df])
#trips_street_merge_df = df.groupby(['properties.tripid', 'properties.streetnames', 'lon', 'lat']).size()
#trips_street_merge_df = trips_street_merge_df.set_index('properties.tripid')
trips_street_merge_df=trips_street_merge_df.dropna(subset=['properties.tripid'])
print(trips_street_merge_df)

      properties.tripid          properties.streetnames  lon  lat
0              417118.0                Praca da Batalha  NaN  NaN
1              417135.0                   Rua do Bonfim  NaN  NaN
2              417142.0           Rua do Passeio Alegre  NaN  NaN
2              417142.0           Rua do Passeio Alegre  NaN  NaN
2              417142.0           Rua do Passeio Alegre  NaN  NaN
...                 ...                             ...  ...  ...
2499           419996.0              Rua de Serpa Pinto  NaN  NaN
2499           419996.0  Rua de Nossa Senhora de Fatima  NaN  NaN
2499           419996.0  Rua de Nossa Senhora de Fatima  NaN  NaN
2499           419996.0                 Rua dos Burgaes  NaN  NaN
2499           419996.0            Largo da Ramada Alta  NaN  NaN

[128831 rows x 4 columns]